{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style/style.css">
    <title>{{ template "title" . }} - NotaAPI Golang</title>
    <!-- Não podemos colocar o link do css pois temos que servir os arquivos css no servidor -->
</head>
<body>
    <header>
        <div class="logo">NotaAPI Golang</div>
        <nav>
            <a href="/">HOME</a>
        </nav>
    </header>

    <main>
        {{ template "main" . }}
    </main>

    <footer>
        &circledcirc; Feito por Gustavo Senador
    </footer>
</body>
</html>
{{ end }}